:root {
  --gray-0: rgb(255, 255, 255);
  --gray-1: rgb(252, 252, 252);
  --gray-2: rgb(249, 249, 249);
  --gray-3: rgb(247, 247, 247);
  --gray-4: rgb(244, 244, 244);
  --gray-5: rgb(242, 242, 242);
  --gray-6: rgb(239, 239, 239);
  --gray-7: rgb(237, 237, 237);
  --gray-8: rgb(234, 234, 234);
  --gray-9: rgb(232, 232, 232);
  --gray-10: rgb(229, 229, 229);
  --gray-11: rgb(226, 226, 226);
  --gray-12: rgb(224, 224, 224);
  --gray-13: rgb(221, 221, 221);
  --gray-14: rgb(219, 219, 219);
  --gray-15: rgb(216, 216, 216);
  --gray-16: rgb(214, 214, 214);
  --gray-17: rgb(211, 211, 211);
  --gray-18: rgb(209, 209, 209);
  --gray-19: rgb(206, 206, 206);
  --gray-20: rgb(204, 204, 204);
  --gray-21: rgb(201, 201, 201);
  --gray-22: rgb(198, 198, 198);
  --gray-23: rgb(196, 196, 196);
  --gray-24: rgb(193, 193, 193);
  --gray-25: rgb(191, 191, 191);
  --gray-26: rgb(188, 188, 188);
  --gray-27: rgb(186, 186, 186);
  --gray-28: rgb(183, 183, 183);
  --gray-29: rgb(181, 181, 181);
  --gray-30: rgb(178, 178, 178);
  --gray-31: rgb(175, 175, 175);
  --gray-32: rgb(173, 173, 173);
  --gray-33: rgb(170, 170, 170);
  --gray-34: rgb(168, 168, 168);
  --gray-35: rgb(165, 165, 165);
  --gray-36: rgb(163, 163, 163);
  --gray-37: rgb(160, 160, 160);
  --gray-38: rgb(158, 158, 158);
  --gray-39: rgb(155, 155, 155);
  --gray-40: rgb(153, 153, 153);
  --gray-41: rgb(150, 150, 150);
  --gray-42: rgb(147, 147, 147);
  --gray-43: rgb(145, 145, 145);
  --gray-44: rgb(142, 142, 142);
  --gray-45: rgb(140, 140, 140);
  --gray-46: rgb(137, 137, 137);
  --gray-47: rgb(135, 135, 135);
  --gray-48: rgb(132, 132, 132);
  --gray-49: rgb(130, 130, 130);
  --gray-50: rgb(127, 127, 127);
  --gray-51: rgb(124, 124, 124);
  --gray-52: rgb(122, 122, 122);
  --gray-53: rgb(119, 119, 119);
  --gray-54: rgb(117, 117, 117);
  --gray-55: rgb(114, 114, 114);
  --gray-56: rgb(112, 112, 112);
  --gray-57: rgb(109, 109, 109);
  --gray-58: rgb(107, 107, 107);
  --gray-59: rgb(104, 104, 104);
  --gray-60: rgb(102, 102, 102);
  --gray-61: rgb(99, 99, 99);
  --gray-62: rgb(96, 96, 96);
  --gray-63: rgb(94, 94, 94);
  --gray-64: rgb(91, 91, 91);
  --gray-65: rgb(89, 89, 89);
  --gray-66: rgb(86, 86, 86);
  --gray-67: rgb(84, 84, 84);
  --gray-68: rgb(81, 81, 81);
  --gray-69: rgb(79, 79, 79);
  --gray-70: rgb(76, 76, 76);
  --gray-71: rgb(73, 73, 73);
  --gray-72: rgb(71, 71, 71);
  --gray-73: rgb(68, 68, 68);
  --gray-74: rgb(66, 66, 66);
  --gray-75: rgb(63, 63, 63);
  --gray-76: rgb(61, 61, 61);
  --gray-77: rgb(58, 58, 58);
  --gray-78: rgb(56, 56, 56);
  --gray-79: rgb(53, 53, 53);
  --gray-80: rgb(51, 51, 51);
  --gray-81: rgb(48, 48, 48);
  --gray-82: rgb(45, 45, 45);
  --gray-83: rgb(43, 43, 43);
  --gray-84: rgb(40, 40, 40);
  --gray-85: rgb(38, 38, 38);
  --gray-86: rgb(35, 35, 35);
  --gray-87: rgb(33, 33, 33);
  --gray-88: rgb(30, 30, 30);
  --gray-89: rgb(28, 28, 28);
  --gray-90: rgb(25, 25, 25);
  --gray-91: rgb(22, 22, 22);
  --gray-92: rgb(20, 20, 20);
  --gray-93: rgb(17, 17, 17);
  --gray-94: rgb(15, 15, 15);
  --gray-95: rgb(12, 12, 12);
  --gray-96: rgb(10, 10, 10);
  --gray-97: rgb(7, 7, 7);
  --gray-98: rgb(5, 5, 5);
  --gray-99: rgb(2, 2, 2);
  --gray-100: rgb(0, 0, 0);
}
